body {
    background-color: #000;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
}

.website {
text-align: center;
}

.website a {
    color: #fff;
    text-decoration: none;
}

.website a:hover {
    color: #ff009d;
}
