body {
    text-align:center;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    background-color: black;
  }

.website a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.website a:hover {
    color: #00ffff;
}
